#header {
  text-align:center;
  color:#00b3b3;
  margin-bottom: 50px;
}

#coverPhoto {
width: 600px;
float: left;
}

#menuHeader {
  text-align:center;
  color:#66d9ff;
}

#menuList {
  text-align:center;
  color:#009999;
  list-style-type:none;
}

#menuList li {
  list-style-type:none;
  text-align:center;
}

img.imageSize  {
  width:400px;
}

.websitePics {
  margin: 5px 5px 5px 5px;
}
